/* General Styles */
.App {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  background-color: #3d3d3d;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  margin: 0 auto;
}

.reels {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.reel {
  border: 3px solid #ffcc00;
  padding: 15px;
  border-radius: 10px;
  background-color: #222;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
}

.symbol {
  font-size: 3rem;
  margin: 10px;
  color: #ffcc00;
}

.controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.controls button {
  background-color: #ffcc00;
  color: #222;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
}

.controls button:hover {
  background-color: #e6b800;
}

.controls input {
  background-color: #444;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 80px;
}

.game-history,
.leaderboard {
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
}

h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #ffcc00;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  background-color: #444;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

ul li:nth-child(odd) {
  background-color: #555;
}

.show-button, .clear-button {
  background-color: #ffcc00;
  color: #222;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
  margin-bottom: 20px;
}

.clear-button {
  background-color: #ff3333;
  margin-left: 10px;
}

.show-button:hover, .clear-button:hover {
  background-color: #ff9900;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .reels {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .symbol {
    font-size: 2rem;
  }

  .controls button {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
  }

  .game-history,
  .leaderboard {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .game-container {
    padding: 40px;
  }

  .reels {
    gap: 40px;
  }

  .reel {
    padding: 30px;
  }

  .symbol {
    font-size: 4rem;
  }

  .controls button {
    font-size: 1.5rem;
    width: 250px;
  }
}
